@import url("./components/Sidebar/sidebar.css");
@import url("./components/TextEditor/textEditor.css");

.modal-instruction {
    list-style: none;
    font-size: 1.8rem;
    padding: 0 1rem;

}

.modal-instruction::before {
    content: "\21D2	";
    font-size: 1.8rem;
    color: var(--color-primary);
}

.modal-instruction .btn {
    pointer-events: none;
}

.greet-heading {
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
}